
@keyframes wobble {

	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(1.3);
	}
	50% {
		transform: scale(1.1);
	}
	70% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}
.bubbl-content {
	height: 100vh;
	width: 100vw;
	background: rgba(180, 150, 255, 0.2);
	overflow: scroll;
}
.bubbl-top-bar {
	position: absolute;
	top: 0px;
	height: 10%;
	width: 100vw;
	display: flex;
	flex-direction: row;
	background: rgba(220, 210, 255, 1);
}
.bubbl-top-bar-content {
	margin: auto;
}
.bubbl-top-bar-content:not(.bubbl-content-logo):hover {
	cursor: pointer;
	color: rgb(90, 180, 225);
}
.active {
	color: rgb(90, 180, 225);
}
.bubbl-content-logo {
	font-size: 2em;
	letter-spacing: 0.25em;
	/*animation: wobble 5s infinite;*/
	color: rgb(90, 180, 225);
}
.user-profile-pic {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;

}
.bubbl-greeting {
	margin: 0.5rem 1rem;
	font-size: 1.5rem;
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.make-post {
	display: flex;
	flex-direction: column;
	height: 22%;
	width: 100%;
	align-items: center;
}
.make-post textarea {
	width: 70%;
	height: 7rem;
	padding: 0.2rem;
	background-color: rgb(240, 240, 255);
	outline: none;
	border: rgba(40, 10, 125, 0.4) 2px solid;
	border-radius: 8px;
	margin-top: 0.5rem;
	resize: none;
}
.make-post button {
	background-color: rgb(210, 200, 250);
	border: rgba(220, 210, 250, 0.9) 2px solid;
	border-radius: 3px;
	width: 4rem;
	height: 1.4rem;
	margin-top: 0.5rem;
	margin: 0 auto auto auto;
}
/*generated posts*/
.friends-posts {
	width: 100%;
	display: felx;
	flex-direction: column;
	align-items: center;
}
.single-post-bubbl {
	width: 80%;
	min-height: 9rem;
	padding: 0.2rem;
	background-color: rgb(240, 240, 255);
	outline: none;
	border: rgba(20, 20, 155, 0.2) 2px solid;
	border-radius: 8px;
	margin: auto;
	margin-top: 0.5rem;
	resize: none;
	margin-bottom: 1rem;
}
.top-row {
	display: flex;
	flex-direction: row;
	border-bottom: silver 1px solid;
}
.single-post-bubbl img {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	margin-right: 1rem;
}
.single-post-bubbl h5 {
	margin: auto;
	margin-right: 90%;
}
.single-post-content {
	width: 95%;
	margin: auto auto -1rem auto;
	max-height: 50%;
	
}
.bottom-row {
	display: flex;
	height: 5rem;
	width: 100%;
	flex-direction: row;
	align-items: flex-end;
	align-content: space-between;

	
}
.voting {
	display: flex;
	flex-direction: row;
	width: 5%;
	margin-right: 1rem;
}
.up {
	height: 1.2rem;
	width: 1.2rem;
	background: url('./assets/uparrowinactive.png') no-repeat;
	background-position: center;
	background-size: 0.8rem;
	
	margin-left: 0.5rem;
}
.up-clicked {
	height: 1.2rem;
	width: 1.2rem;
	background: url('./assets/uparrow.png') no-repeat;
	background-position: center;
	background-size: 0.8rem;
	margin-left: 0.5rem;
}
.up:hover {
	cursor: pointer;
}
.down {
	height: 1.2rem;
	width: 1.2rem;
	background: url('./assets/downarrowinactive.png') no-repeat;
	background-position: center;
	background-size: 0.8rem;
}
.down-clicked {
	height: 1.2rem;
	width: 1.2rem;
	background: url('./assets/downarrow.png') no-repeat;
	background-position: center;
	background-size: 0.8rem;
}
.down:hover {
	cursor: pointer;
}
.comment {
	height: 1.2rem;
	width:95%;
	background: url('./assets/comment.png') no-repeat;
	background-position: center;
	background-size: 1rem 1rem;
	margin-left: 1rem;
}

.share {
	height: 1.6rem;
	width: 2rem;
	background: url('./assets/shareicon.png') no-repeat;
	background-position: center;
	background-size: 1.5rem;
	margin-right: 1rem;
}
/*profile*/
.whole-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}
@media (orientation: landscape){

}
.profile {
	margin-top: 12vh;
	max-width: 99vw;
	height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
}

.profile-content {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.profile h1 {
	color: rgb(147, 38, 247);
	width: 100vw;
	border-bottom: black 1px solid;
	margin-bottom: 1rem;
}
.about {
	display: flex;
	flex-direction: row;
	width: 90%;
	height: 13rem;
	background-color: balck;
	margin-top: 1rem;
}
.profile-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
	height: 100%;
	border: silver solid 2px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 4px;
}
.profile-left button {
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 0.35rem;
	background-color: rgb(231, 220, 241);
	border: none;
}
#class-button:hover {
	background-color: rgb(241, 230, 251);
	border: none;
}
.profile-right {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin-left: 10%;
	height: 100%;
	border: silver solid 2px;
	border-top-right-radius: 6px;
	justify-content: center;
	align-items: center;
}
.profile-right button {
	align-self: center;
}
.profile-right p {
	width: 100%;
	background-color: rgb(235, 235, 245);
	padding-top: 5%;
	padding-bottom: 5%;
}
@media (orientation: landscape){
	.profile-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20%;
	height: 100%;
	border: silver solid 2px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 4px;
}
.profile-right {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 5%;
	height: 100%;
	border: silver solid 2px;
	border-top-right-radius: 6px;
}
}
.about h2 {
	
}
.profile img {
	align-self: center;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}
.profile-post-start {
	margin-top: 1rem;
}
.bubbl-back {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	background: url('./assets/bubblback.png') center no-repeat;
	background-size: 3rem;
	height: 2.5rem;
	width: 2.5rem;
	animation: nav-button-home-animation 1 0.4s;
}
.profile-posts {
	width: 100%;
	max-height: 15vh;
}
.place-holder {
	color: black;
	margin: auto;
	margin-top: 5rem;
}